<div class="superContainer">
    <div id="myCarousel" class=" carousel slide mb-6" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Diapositiva 1"></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Diapositiva 2" class=""></button>
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Diapositiva 3" class="" aria-current="true"></button>
        </div>
        <div class="container col-xxl-8 px-4 py-5 rounded-3 border shadow-lg carousel-inner" >
            <div class="carousel-item active ">
                <div class="row flex-lg-row-reverse g-5" >
                    <div class="col-10 col-sm-8 col-lg-6 logo">
                        <img src="../../../assets/logo1.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="350" height="350" >
                    </div>  <!--qua ci devo mettere uno screen del workspace magari se risco anche una gif-->
                    <div class="col-lg-6 title" >
                        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">DB Models</h1>
                        <p class="lead">Crea e importa i tuoi modelli di database per una correzione più precisa consapevole.</p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                            <a href="/signin" class="btn btn-primary btn-lg px-4 me-md-2">Accedi</a>
                            <a href="/signup" class="btn btn-outline-secondary btn-lg px-4">Registrati</a>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="carousel-item">
                <div class="row flex-lg-row-reverse g-5" >
                    <div class="col-10 col-sm-8 col-lg-6 logo">
                        <img src="../../../assets/logo1.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="350" height="350" >
                    </div>  <!--qua ci devo mettere uno screen del workspace magari se risco anche una gif-->                
                    <div class="col-lg-6 title">
                        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Correggi e analizza qualsiasi query SQL grazie alla potenza dell'IA!</h1>
                        <p class="lead">Controlla, analizza e correggi istantaneamente query SQL di qualsiasi tipo.</p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                            <a href="/signin" class="btn btn-primary btn-lg px-4 me-md-2">Accedi</a>
                            <a href="/signup" class="btn btn-outline-secondary btn-lg px-4">Registrati</a>
                        </div>
                    </div>                
                </div>
            </div>
            <div class="carousel-item">
                <div class="row flex-lg-row-reverse g-5" >
                    <div class="col-10 col-sm-8 col-lg-6 logo">
                        <img src="../../../assets/logo1.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="350" height="350" >
                    </div>  <!--qua ci devo mettere uno screen del workspace magari se risco anche una gif-->                
                    <div class="col-lg-6 title">
                        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Evidenziazione degli errori.</h1>
                        <p class="lead">Individua facilmente le correzioni grazie alla funzione di evidenziazione degli errori.</p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                            <a href="/signin" class="btn btn-primary btn-lg px-4 me-md-2">Accedi</a>
                            <a href="/signup" class="btn btn-outline-secondary btn-lg px-4">Registrati</a>
                        </div>
                    </div>                
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">il precedente</font></font></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">il successivo</font></font></span>
        </button>
    </div>
</div>


  