#box{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    border-bottom: 1px solid gray;
    width: 100%;
}

footer{
    background-color: whitesmoke;
    height:10vh;
    border-top: 1px solid gray;
    padding:30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1050;
}

footer p {
    margin:0;
}

